<% if @per_page_metrics %>
<% per_page_metrics %>
  <div id="per-page-metrics" class="metrics-panel">
    <h2>Metrics for individual pages</h2>

    <table>
      <thead>
        <tr>
          <th>Page</th>
          <th>Unique pageviews</th>
          <th>Searches started from this page</th>
          <th>Problem reports</th>
        </tr>
      </thead>
      <tbody>
        <% per_page_metrics.each do |t, a| %>
          <tr>
          <td><a href="<%= t %>"><%= t %></a></td>
          <td><%= human_readable_number(a.unique_pageviews_average) %> per day</td>
          <td><%= human_readable_number(a.exits_via_search_average) %> per day</td>
          <td><%= human_readable_number(a.problem_reports_weekly_average) %> per week</td>
        <% end %>
      </tbody>
    </table>

  </div>
<% end %>